body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    overflow: hidden;
    position: relative;
}

.container {
    text-align: center;
    position: relative;
}

.video-title {
    color: white;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}

.crystal {
    position: absolute;
    top: -50px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    opacity: 0.7;
    transform: rotate(45deg);
}
